{% extends 'base.html' %}
{% block title %} Candidate Signup {% endblock %}
{% block content %}
<center>
  <div class="card w-50 mt-3" style="border:none;">
    <h2 class="card-title">Signup Form</h2>
    <hr>
    <div class="card-body mt-3">
      <div class="row gt-3 mb-3">
        <form method="post" action="#">
          <div class="col-md-12 mb-3">
            <input type="text" class="form-control" name="username" placeholder="username" required>
          </div>
          <div class="col-md-12 mb-3">
            <input type="email" class="form-control" name="email" placeholder="sample@gmail.com" required>
          </div>
          <div class="col-md-12 mb-3">
            <input type="password" class="form-control" name="password" placeholder="password" required>
          </div>
          <div class="col-md-12 mb-3">
            <input type="password" class="form-control" name="confirm" placeholder="confirm password" required>
          </div>
          <div class="col-md-12 mb-3">
            <input type="submit" class="btn btn-primary w-75" value="Register">
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <p>If you already have an account <a href="{% url 'candidate_login' %}">Login</a> here.</p>
    </div>
  </div>
</center>
{% endblock %}