{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="card text-center mt-3" style="border:none;">
    <h2 class="card-title">Change Password</h2>
    <center>
        <div class="card-body w-50 mt-3">
            <form action="{% url 'change_password' %}" method="post">
                <div class="row gt-3">
                    <div class="col-md-12 mb-3">
                        <input type="text" placeholder="username" name="username" class="form-control" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="password" placeholder="old-password" name="old_password" class="form-control" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="password" placeholder="new-password" name="new_password" class="form-control" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary w-50" value="submit">
                    </div>
                </div>
            </form>
        </div>
    </center>
</div>
{% endblock %}